#container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; /* Center the content horizontally */
  width: 75%; /* Set the width to 75% of the screen */
  margin: 0 auto;
  transition: transform 0.5s ease;
}

#array-number {
  margin: 1px;
  font-size: 12px;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 700;
  background-color: goldenrod;
  color: transparent;
  text-align: center;
  transition: background-color 0.5s ease;
  width: 12px;
}

#array-number:hover {
  color: black;
}

@media screen and (max-width: 1800px) {
  #array-number {
    width: 12px;
  }
}

@media screen and (max-width: 1600px) {
  #array-number {
    width: 10px;
  }
}

@media screen and (max-width: 1250px) {
  #array-number {
    width: 8px;
  }
}

@media screen and (max-width: 1050px) {
  #array-number {
    width: 6px;
  }
}

@media screen and (max-width: 850px) {
  #array-number {
    width: 4px;
  }
}

@media screen and (max-width: 650px) {
  #array-number {
    width: 3px;
  }
}
@media screen and (max-width: 550px) {
  #array-number {
    width: 2.5px;
  }
}

@media screen and (max-width: 500px) {
  #array-number {
    width: 2px;
  }
}

@media screen and (max-width: 400px) {
  #array-number {
    width: 1px;
  }
}
